.emojitext {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
}

.face-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    width: calc(15 * 20px);
}